doctype html
html
  head
    title= title
  body
    h1= title
    p= description
    h2 API Endpoints
    ul
      li GET /api/media - Get all media items
      li GET /api/media/:id - Get one media item by ID
      li GET /api/user/:id - Get user by ID
      li POST /api/user - Add a new user
      li PUT /api/user/:id - Modify a user by ID
      li DELETE /api/user/:id - Delete a user by ID
